.mf-cursor{
	position:fixed;
	top:0;
	left:0;
	z-index:250;
	direction:ltr;
	contain:layout style size;
	pointer-events:none;
	-webkit-transition:opacity .3s,color .4s;
	transition:opacity .3s,color .4s
}
.mf-cursor:before{
	content:"";
	position:absolute;
	top:-24px;
	left:-24px;
	display:block;
	width:48px;
	height:48px;
	-webkit-transform:scale(.2);
	transform:scale(.2);
	background:currentColor;
	border-radius:50%;
	-webkit-transition:opacity .1s,-webkit-transform .25s ease-in-out;
	transition:opacity .1s,-webkit-transform .25s ease-in-out;
	transition:transform .25s ease-in-out,opacity .1s;
	transition:transform .25s ease-in-out,opacity .1s,-webkit-transform .25s ease-in-out
}
.mf-cursor.-inverse{
	color:#fff
}
@supports (mix-blend-mode: exclusion){
	.mf-cursor.-exclusion{
		mix-blend-mode:exclusion
}
	.mf-cursor.-exclusion:before{
		background:white
}
}
.mf-cursor.-pointer:before{
	-webkit-transform:scale(.15);
	transform:scale(.15)
}
.mf-cursor.-text:before{
	opacity:.85;
	-webkit-transform:scale(1.7);
	transform:scale(1.7)
}
.mf-cursor.-text.-active:before{
	-webkit-transform:scale(1.6);
	transform:scale(1.6);
	-webkit-transition-duration:.2s;
	transition-duration:.2s
}
.mf-cursor.-icon:before{
	-webkit-transform:scale(1.5);
	transform:scale(1.5)
}
.mf-cursor.-icon.-active:before{
	-webkit-transform:scale(1.4);
	transform:scale(1.4)
}
.mf-cursor.-hidden:before{
	-webkit-transform:scale(0);
	transform:scale(0)
}
.mf-cursor-text{
	position:absolute;
	top:-18px;
	left:-18px;
	width:36px;
	height:36px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-transform:scale(0) rotate(10deg);
	transform:scale(0) rotate(10deg);
	opacity:0;
	color:#fff;
	font-size:16px;
	line-height:20px;
	text-align:center;
	-webkit-transition:opacity .4s,-webkit-transform .3s;
	transition:opacity .4s,-webkit-transform .3s;
	transition:opacity .4s,transform .3s;
	transition:opacity .4s,transform .3s,-webkit-transform .3s
}
.mf-cursor.-text .mf-cursor-text,.mf-cursor.-icon .mf-cursor-text{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}
.mf-cursor-media{
	position:absolute;
	width:400px;
	height:400px;
	margin:-200px 0 0 -200px
}
.mf-cursor-media img,.mf-cursor-media video{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	border-radius:50%
}
@supports ((-o-object-fit: cover) or (object-fit: cover)){
	.mf-cursor-media img,.mf-cursor-media video{
		position:static;
		width:100%;
		height:100%;
		-o-object-fit:cover;
		object-fit:cover;
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
}
}
.mf-cursor-media-box{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	-webkit-transform:scale(0) translateZ(0);
	transform:scale(0) translateZ(0);
	padding:1px;
	opacity:0;
	border-radius:50%;
	-webkit-transition:opacity .2s .2s,-webkit-transform .35s;
	transition:opacity .2s .2s,-webkit-transform .35s;
	transition:transform .35s,opacity .2s .2s;
	transition:transform .35s,opacity .2s .2s,-webkit-transform .35s
}
.mf-cursor.-media .mf-cursor-media-box{
	opacity:1;
	-webkit-transform:scale(.696);
	transform:scale(.696);
	-webkit-transition-duration:.4s,.4s;
	transition-duration:.4s,.4s;
	-webkit-transition-delay:0s,0s;
	transition-delay:0s,0s
}
:root{
	--font-from-0: 12;
	--font-to-0: 16;
	--vw-from-0:.01;
	--vw-to-0:4.79;
	--coefficient-0: calc((var(--font-to-0) - var(--font-from-0)) / (var(--vw-to-0) - var(--vw-from-0)));
	--base-0: calc((var(--font-from-0) - var(--vw-from-0) * var(--coefficient-0)) / 16);
	--font-from-1: 12;
	--font-to-1: 17;
	--vw-from-1:4.79;
	--vw-to-1:9.92;
	--coefficient-1: calc((var(--font-to-1) - var(--font-from-1)) / (var(--vw-to-1) - var(--vw-from-1)));
	--base-1: calc((var(--font-from-1) - var(--vw-from-1) * var(--coefficient-1)) / 16);
	--font-from-2: 11;
	--font-to-2: 17;
	--vw-from-2:9.92;
	--vw-to-2:19.2;
	--coefficient-2: calc((var(--font-to-2) - var(--font-from-2)) / (var(--vw-to-2) - var(--vw-from-2)));
	--base-2: calc((var(--font-from-2) - var(--vw-from-2) * var(--coefficient-2)) / 16);
	--font-from-3: 17;
	--font-to-3: 20;
	--vw-from-3:19.2;
	--vw-to-3:28.48;
	--coefficient-3: calc((var(--font-to-3) - var(--font-from-3)) / (var(--vw-to-3) - var(--vw-from-3)));
	--base-3: calc((var(--font-from-3) - var(--vw-from-3) * var(--coefficient-3)) / 16)
}
html{
	font-size:calc(var(--base-3) * 1rem + var(--coefficient-3) * 1vw)
}
@media screen and (max-width: 1920px){
	html{
		font-size:calc(var(--base-2) * 1rem + var(--coefficient-2) * 1vw)
}
}
@media screen and (max-width: 992px){
	html{
		font-size:calc(var(--base-1) * 1rem + var(--coefficient-1) * 1vw)
}
}
@media screen and (max-width: 479px){
	html{
		font-size:calc(var(--base-0) * 1rem + var(--coefficient-0) * 1vw)
}
}
html{
	scroll-behavior:initial
}
html,body{
	width:100%;
	height:auto!important;
	min-height:100%
}
@media (hover: hover){
	html,body{
		-ms-scroll-chaining:none;
		overscroll-behavior:none
}
}
body{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility
}
.line{
	overflow:hidden;
	-webkit-transform-origin:bottom;
	transform-origin:bottom
}
a:focus-visible,*[tabindex]:focus-visible,input[type=file]:focus-visible{
	border-radius:.3125rem;
	outline:2px solid #171111;
	outline-offset:.3125rem
}
.navbar_grid a:focus-visible,.navbar_grid *[tabindex]:focus-visible,.navbar_grid input[type=file]:focus-visible{
	outline-color:#fff
}
.hide{
	display:none!important
}
@media (max-width: 767.98px){
	.hide,.hide-tablet{
		display:none!important
}
}
@media (max-width: 479.98px){
	.hide-mobile-landscape{
		display:none!important
}
}
.hide-mobile{
	display:none!important
}
.link_text{
	-webkit-transform:translateY(0%) rotate(0deg);
	transform:translateY(0) rotate(0);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	white-space:nowrap;
	-webkit-transition-delay:-.05s;
	transition-delay:-.05s;
	position:relative
}
.link_text-italic{
	position:absolute;
	top:0;
	left:0;
	white-space:nowrap;
	-webkit-transform:translateY(140%) rotate(10deg);
	transform:translateY(140%) rotate(10deg);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	-webkit-transition-delay:0s;
	transition-delay:0s
}
.link:before{
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	-webkit-transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s,-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	-webkit-transition-delay:0s;
	transition-delay:0s;
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	-webkit-transform-origin:left;
	transform-origin:left;
	border-bottom:2px solid currentColor
}
.link:after{
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	-webkit-transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s,-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	-webkit-transition-delay:.15s;
	transition-delay:.15s;
	-webkit-transform-origin:right;
	transform-origin:right;
	border-bottom:2px solid currentColor
}
@media (hover: hover){
	.link:hover:before{
		-webkit-transition-delay:.15s;
		transition-delay:.15s;
		-webkit-transform:scaleX(1);
		transform:scaleX(1)
}
}
@media (hover: hover){
	.link:hover:after{
		-webkit-transition-delay:0s;
		transition-delay:0s;
		-webkit-transform:scaleX(0);
		transform:scaleX(0)
}
}
@media (hover: hover){
	.link:hover .link_text{
		-webkit-transform:translateY(-140%) rotate(-10deg);
		transform:translateY(-140%) rotate(-10deg);
		-webkit-transition-delay:0s;
		transition-delay:0s
}
}
@media (hover: hover){
	.link:hover .link_text-italic{
		-webkit-transform:translateY(0%) rotate(0deg);
		transform:translateY(0) rotate(0);
		-webkit-transition-delay:-.05s;
		transition-delay:-.05s
}
}
.mf-cursor:before{
	background-color:#17111140;
	-webkit-backdrop-filter:blur(16px);
	backdrop-filter:blur(16px);
	top:-3.75rem;
	left:-3.75rem;
	height:7.5rem;
	width:7.5rem;
	-webkit-transform:scale(0);
	transform:scale(0)
}
.mf-cursor:after{
	content:"";
	background-color:#fff;
	display:block;
	position:absolute;
	top:-2.1875rem;
	left:-2.1875rem;
	height:4.375rem;
	width:4.375rem;
	opacity:0;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transition:opacity .1s,-webkit-transform .25s ease-in-out;
	transition:opacity .1s,-webkit-transform .25s ease-in-out;
	transition:transform .25s ease-in-out,opacity .1s;
	transition:transform .25s ease-in-out,opacity .1s,-webkit-transform .25s ease-in-out;
	/*-webkit-mask:url(https://uploads-ssl.webflow.com/63d7d5a6ecc8771098dae145/63f38aafbc9f6fb3cd057650_icon-arrow-right.svg);
	mask:url(https://uploads-ssl.webflow.com/63d7d5a6ecc8771098dae145/63f38aafbc9f6fb3cd057650_icon-arrow-right.svg);*/
	will-change:transform
}
.mf-cursor.-showcase:before{
	-webkit-transform:scale(1);
	transform:scale(1)
}
.mf-cursor.-showcase:after{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}
.navbar_grid{
	pointer-events:none
}
.navbar_logo-link{
	pointer-events:auto
}
.navbar_link-text{
	-webkit-transform:translateY(0%) rotate(0deg);
	transform:translateY(0) rotate(0);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	white-space:nowrap;
	-webkit-transition-delay:-.05s;
	transition-delay:-.05s;
	position:relative
}
.navbar_link-italic{
	position:absolute;
	top:0;
	left:0;
	white-space:nowrap;
	-webkit-transform:translateY(140%) rotate(10deg);
	transform:translateY(140%) rotate(10deg);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	-webkit-transition-delay:0s;
	transition-delay:0s
}
.navbar_link{
	pointer-events:auto
}
@media (hover: hover){
	.navbar_link:hover .navbar_link-text{
		-webkit-transform:translateY(-140%) rotate(-10deg);
		transform:translateY(-140%) rotate(-10deg);
		-webkit-transition-delay:0s;
		transition-delay:0s
}
}
@media (hover: hover){
	.navbar_link:hover .navbar_link-italic{
		-webkit-transform:translateY(0%) rotate(0deg);
		transform:translateY(0) rotate(0);
		-webkit-transition-delay:-.05s;
		transition-delay:-.05s
}
}
.footer_link-text{
	-webkit-transform:translateY(0%) rotate(0deg);
	transform:translateY(0) rotate(0);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	white-space:nowrap;
	-webkit-transition-delay:-.05s;
	transition-delay:-.05s;
	position:relative
}
.footer_link-italic{
	position:absolute;
	top:0;
	left:0;
	white-space:nowrap;
	-webkit-transform:translateY(140%) rotate(4deg);
	transform:translateY(140%) rotate(4deg);
	-webkit-transition:cubic-bezier(.2,1,.23,1) .65s;
	transition:cubic-bezier(.2,1,.23,1) .65s;
	-webkit-transition-delay:0s;
	transition-delay:0s
}
@media (hover: hover){
	.footer_link:hover .footer_link-text{
		-webkit-transform:translateY(-140%) rotate(-4deg);
		transform:translateY(-140%) rotate(-4deg);
		-webkit-transition-delay:0s;
		transition-delay:0s
}
}
@media (hover: hover){
	.footer_link:hover .footer_link-italic{
		-webkit-transform:translateY(0%) rotate(0deg);
		transform:translateY(0) rotate(0);
		-webkit-transition-delay:-.05s;
		transition-delay:-.05s
}
}
.intro_image-sticky-element{
	-webkit-clip-path:inset(5% 60% 70% 10%);
	clip-path:inset(5% 60% 70% 10%)
}
.header_span-icon-wrapper{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	display:-webkit-inline-box!important;
	display:-ms-inline-flexbox!important;
	display:inline-flex!important;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.header_span-icon-wrapper:after{
	content:"";
	background:url(https://uploads-ssl.webflow.com/64667741551644b9aa8a1ed8/646fc75a66fd47105a9209b3_cbcalogored.svg);
	height:6.6875rem;
	position:absolute;
	width:6.6875rem;
	-webkit-animation:rotating-360 10s infinite linear;
	animation:rotating-360 10s infinite linear
}
@media (max-width: 991.98px){
	.header_span-icon-wrapper:after{
		height:3.75rem;
		width:3.75rem
}
}
@media (max-width: 479.98px){
	.header_span-icon-wrapper:after{
		height:2.1875rem;
		width:2.1875rem
}
}
@-webkit-keyframes rotating-360{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
.showcase_reel-item-inner{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex
}
.showcase_reel-item-icon{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.showcase_reel-item-icon:after{
	content:"";
	background:url(https://uploads-ssl.webflow.com/64667741551644b9aa8a1ed8/646fc75a66fd47105a9209b3_cbcalogored.svg);
	height:6.6875rem;
	position:absolute;
	width:6.6875rem;
	-webkit-animation:rotating-360 10s infinite linear;
	animation:rotating-360 10s infinite linear
}
@media (max-width: 991.98px){
	.showcase_reel-item-icon:after{
		height:3.75rem;
		width:3.75rem
}
}
@media (max-width: 479.98px){
	.showcase_reel-item-icon:after{
		height:2.1875rem;
		width:2.1875rem
}
}
.showcase_overview{
	display:grid;
	gap:9.375rem 0;
	grid-template-columns:repeat(5,1fr)
}
@media (max-width: 991.98px){
	.showcase_overview{
		gap:6.25rem 0
}
}
@media (max-width: 479.98px){
	.showcase_overview{
		gap:3.75rem 0
}
}
.showcase_project{
	height:-webkit-max-content;
	height:-moz-max-content;
	height:max-content
}
.showcase_project:nth-child(1){
	grid-column:1/4
}
@media (max-width: 991.98px){
	.showcase_project:nth-child(1){
		grid-column:1/5
}
}
@media (max-width: 479.98px){
	.showcase_project:nth-child(1){
		grid-column:1/6
}
}
.showcase_project:nth-child(2){
	grid-column:1/3;
	margin-right:9.375rem;
	margin-top:35vw
}
@media (max-width: 991.98px){
	.showcase_project:nth-child(2){
		grid-column:2/6;
		margin:0
}
}
@media (max-width: 479.98px){
	.showcase_project:nth-child(2){
		grid-column:1/6
}
}
.showcase_project:nth-child(3){
	grid-column:4/6
}
@media (max-width: 991.98px){
	.showcase_project:nth-child(3){
		grid-column:1/4
}
}
@media (max-width: 479.98px){
	.showcase_project:nth-child(3){
		grid-column:1/6
}
}
.showcase_project:nth-child(4){
	grid-column:2/6
}
@media (max-width: 991.98px){
	.showcase_project:nth-child(4){
		grid-column:1/6
}
}
.showcase_project:nth-child(1) .showcase_project-img{
	aspect-ratio:4/3
}
.showcase_project:nth-child(2) .showcase_project-img{
	aspect-ratio:3/4
}
.showcase_project:nth-child(3) .showcase_project-img{
	aspect-ratio:3/4
}
.showcase_project:nth-child(4) .showcase_project-img{
	aspect-ratio:4/3
}
.studio_reel-item-inner{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex
}
.studio_reel-item-icon{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.studio_reel-item-icon:after{
	content:"";
	background:url(https://uploads-ssl.webflow.com/64667741551644b9aa8a1ed8/646fc75a66fd47105a9209b3_cbcalogored.svg);
	height:6.6875rem;
	position:absolute;
	width:6.6875rem;
	-webkit-animation:rotating-360 10s infinite linear;
	animation:rotating-360 10s infinite linear
}
@media (max-width: 991.98px){
	.studio_reel-item-icon:after{
		height:3.75rem;
		width:3.75rem
}
}
@media (max-width: 479.98px){
	.studio_reel-item-icon:after{
		height:2.1875rem;
		width:2.1875rem
}
}
@keyframes rotating-360{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
.studio_img{
	aspect-ratio:3/3.5;
	-webkit-clip-path:polygon(33.3% 25%,33.3% 0,100% 0,100% 100%,0 100%,0 25%);
	clip-path:polygon(33.3% 25%,33.3% 0,100% 0,100% 100%,0 100%,0 25%)
}
.awards_link{
	-webkit-transition:padding cubic-bezier(.2,1,.23,1) .65s;
	transition:padding cubic-bezier(.2,1,.23,1) .65s
}
.awards_link:before{
	content:"";
	background-color:#171111;
	display:block;
	bottom:0;
	height:100%;
	position:absolute;
	-webkit-transform:scaleY(0);
	transform:scaleY(0);
	-webkit-transform-origin:bottom;
	transform-origin:bottom;
	-webkit-transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s;
	transition:transform cubic-bezier(.2,1,.23,1) .65s,-webkit-transform cubic-bezier(.2,1,.23,1) .65s;
	width:100%;
	will-change:transform
}
@media (hover: hover){
	.awards_link:hover{
		padding-left:1.875rem;
		padding-right:1.875rem
}
}
@media (hover: hover) and (max-width: 767.98px){
	.awards_link:hover{
		padding-left:0;
		padding-right:0
}
}
@media (hover: hover){
	.awards_link:hover:before{
		-webkit-transform:scaleY(1);
		transform:scaleY(1)
}
}
